{% extends "layout.html" %} {% block body %}
<div class="row">
  <div class="col-sm-12">
    <section>
      <form action="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}" id="delete-restaurant-form"
        method="post">
        <fieldset>
          <legend>
            Delete Restaurant
          </legend>
          <p>Are you sure you want to delete this restaurant?</p>
          <p>
            <strong>{{restaurant.name}}</strong>
          </p>
          <a class="btn btn-secondary" href="{{ url_for('restaurants') }}">Cancel</a>
          <button class="btn btn-primary" type="submit" form="delete-restaurant-form">Delete</button>
        </fieldset>
      </form>
    </section>
  </div>
</div>
{% endblock %}}