{% extends "layout.html" %} {% block body %}
<div class="row">
  <div class="col-sm-12">
    <section>
      <form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_item_id=menu_item.id)}}"
        id="edit-menu-item-form" method="post">
        <fieldset>
          <legend>
            Edit Menu Item
          </legend>
          <div class="form-group">
            <label for="menu-item-name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="{{menu_item.name}}"
              id="menu-item-name" />
          </div>
          <div class="form-group">
            <label for="menu-item-description">Description</label>
            <input class="form-control" type="text" name="description" placeholder="{{menu_item.description}}"
              id="menu-item-description" />
          </div>
          <div class="form-group">
            <label for="menu-item-price">Price</label>
            <input class="form-control" type="text" name="price" placeholder="{{menu_item.price}}"
              id="menu-item-price" />
          </div>
          <div class="form-group">
            <label for="menu-item-course">Course</label>
            <input class="form-control" type="text" name="course" placeholder="{{menu_item.course}}"
              id="menu-item-course" />
          </div>
          <a class="btn btn-secondary" href="{{ url_for('menu', restaurant_id=restaurant.id)}}">Cancel</a>
          <button class="btn btn-primary" type="submit" form="edit-menu-item-form">Update</button>
        </fieldset>
      </form>
    </section>
  </div>
</div>
{% endblock %}