<html>

<body>
  <section>
    <h1>{{restaurant.name}}</h1>
    <a href="{{url_for('restaurants')}}">Return to Restaurants</a>
    <br />
    <a href="#">Create New Menu Item</a> {% for menu_item in menu_items %}
    <section>
      <h2>{{menu_item.name}}</h2>
      <ul>
        <li>
          {{menu_item.description}}
        </li>
        <li>
          {{menu_item.price}}
        </li>
        <li>
          {{menu_item.course}}
        </li>
      </ul>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
    </section>
    </li>
    {% endfor %}
  </section>
</body>

</html>