<html>

<body>
  <section>
    <form action="{{url_for('newRestaurant')}}" id="new-restaurant-form" method="post">
      <fieldset>
        <legend>
          New Restaurant
        </legend>
        <label for="restaurant-name">Restaurant Name</label>
        <input type="text" name="name" id="restaurant-name" />
        <br />
        <a href="{{ url_for('restaurants') }}">Cancel</a>
        <button type="submit" form="new-restaurant-form">Create</button>
      </fieldset>
    </form>
  </section>
</body>

</html>