{% extends "layout.html" %} {% block body %}
<div class="row">
  <div class="col-sm-12">
    <section>
      <form action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" id="new-menu-item-form"
        method="post">
        <fieldset>
          <legend>
            New Menu Item
          </legend>
          <div class="form-group">
            <label for="menu-item-name">Name</label>
            <input class="form-control" type="text" name="name" id="menu-item-name" />
          </div>
          <div class="form-group">
            <label for="menu-item-description">Description</label>
            <input class="form-control" type="text" name="description" id="menu-item-description"
            />
          </div>
          <div class="form-group">
            <label for="menu-item-price">Price</label>
            <input class="form-control" type="text" name="price" id="menu-item-price" />
          </div>
          <div class="form-group">
            <label for="menu-item-course">Course</label>
            <input class="form-control" type="text" name="course" id="menu-item-course" />
          </div>
          <a class="btn btn-secondary" href="{{ url_for('menu', restaurant_id=restaurant.id)}}">Cancel</a>
          <button class="btn btn-primary" type="submit" form="new-menu-item-form">Create</button>
        </fieldset>
      </form>
    </section>
  </div>
</div>
{% endblock %}